<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/xflashcardprologo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Flashcard-Pro </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Flashcard-Pro was a solo project where I learned how to persist data locally on the device using Realm. I learned about Animations and how to work with UICollectionView.</p>
    <a href="https://itunes.apple.com/us/app/flashcard-pro/id1369292561?mt=8"><img alt="AppStore" src="{{ "/assets/img/xAppStoreLogo.png" | prepend: site.baseurl }}" /></a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/xfirememelogo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fire memes </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Fire memes was a group project. I learned how to use Sketch to design the app, I also worked with CloudKit to implement a backend. I learned how to work with and interact with team members to  effectively solve problems we encountered. We also used Git as our version control system. 
 </p>
    <a href="https://itunes.apple.com/us/app/fire-memes/id1248068585?ls=1&mt=8"><img alt="AppStore" src="{{ "/assets/img/xAppStoreLogo.png" | prepend: site.baseurl }}" /></a>
  </div>
</div>
